@import "../../../styles/vars.scss";

.UISelect {
  position: relative;
  padding: 5px;
}

.UISelect.background {
  border-radius: $smallBorderRadius;
  background: $accent;
  color: $lightTextColor;
}

.UISelect.underline::before {
  content: "";
  width: 0;
  height: 3px;

  position: absolute;
  bottom: 0px;
  left: 0;

  border-radius: $smallBorderRadius;
  background: $accent;

  animation: rotate 4s ease-out infinite;
}

@keyframes rotate {
  0%,
  100% {
    left: 0;
    width: 0;
  }
  25% {
    left: 0;
    width: 100%;
  }
  50% {
    left: 100%;
    width: 0;
  }
  75% {
    left: 0;
    width: 100%;
  }
}
