.homePage {
  padding-left: 0;
  padding-right: 0;

  .introductionSection {
    padding: 30px;
    width: 100%;
    min-height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 120px;

    border-bottom: 1px solid $accent;

    .introductionText {
      h2 {
        text-align: center;
        font-size: $titleFontSize;
      }

      p {
        text-align: center;
        font-size: $bigTextFontSize;
        padding-top: 20px;
      }
    }

    .iconWrapper {
      .movingArrow {
        animation: up_down 1s linear infinite;
      }
    }
  }

  .sectionWrapper {
    padding: 100px 30px 30px 30px;
  }

  .sectionWrapper.single {
    display: flex;
    align-items: center;
    justify-content: center;

    section {
      max-width: 600px;
    }
  }
}

@keyframes up_down {
  0%,
  100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  75% {
    transform: translateY(10px);
  }
}
