* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body,
html,
#root,
.App {
  width: 100%;
  min-height: 100vh;

  overflow: hidden;
}

body {
  background: $bgColor;
  font-family: "Montserrat", sans-serif;
  font-size: $fontSize;
  color: $textColor;
}

// Dev helper
.selected {
  outline: 1px solid $accent;
}
