@import "../../../styles/vars.scss";

.UIButton {
  border: none;
  outline: none;

  padding: 8px 12px;
  color: $lightTextColor;
  background: $accent;

  border-radius: $smallBorderRadius;

  font-family: "Montserrat", sans-serif;

  cursor: pointer;
}
