@import "../../../styles/vars.scss";

.toolsControllers {
  background: $accent;
  color: $lightTextColor;
  padding: 25px 20px;
  border-radius: $smallBorderRadius;

  display: flex;
  gap: 40px;

  .passwordInput {
    max-width: 400px;
    width: 100%;
    color: $lightTextColor;
    border-bottom-color: $lightTextColor;

    min-width: 230px;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 15px;
  }
}

@media (max-width: 500px) {
  .toolsControllers {
    ul {
      position: fixed;
      display: none;
    }
  }
}
