@import "../../../../styles/vars.scss";

.controllLinkWrapper {
  position: relative;
  color: $softContrast;
  text-decoration: none;

  .controllLink {
    display: flex;
    gap: 7px;

    .controllerIcon {
      display: flex;
      align-items: center;
      font-size: 22px;
    }

    .controllerTitle {
      font-size: $smallTextFontSize;
    }
  }
}

.controllLinkWrapper::before {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 50%;
  width: 0;
  transform: translateX(-50%);
  height: 2px;
  background: $lightTextColor;
  border-radius: 5px;

  transition: width 0.4s;
}

.controllLinkWrapper.active::before,
.controllLinkWrapper:hover::before {
  width: 100%;
}
